<template>
    <main class="py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12">
                    <words-list></words-list>
                </div>
                <div class="col-lg-3 col-md-12">
                    <add-word></add-word>
                    <settings></settings>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import AddWordComponent from "../AddWordComponent";
    import SettingsComponent from "../SettingsComponent";
    import WordsListComponent from "../WordsListComponent";

    export default {
        name: "Home",
        components: {
            'add-word' : AddWordComponent,
            'settings' : SettingsComponent,
            'words-list' : WordsListComponent
        }
    }
</script>

<style>

</style>
