<template>
    <div class="card mb-3">
        <div class="card-header">Add new word</div>
        <div class="card-body">
            <form class="form">
                <div class="form-group">
                    <input type="text" v-model="word" class="form-control" placeholder="Word">
                </div>
                <div class="form-group">
                    <label v-if="translated">{{word}} - {{translated}}</label>
                </div>
                <button type="button" class="btn btn-primary" v-on:click="addWord()">Add word</button>
            </form>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    import axios from 'axios'

    export default {
        name: "AddWordComponent",
        data() {
            return {
                word: '',
                translated: '',
            }
        },
        computed: mapState({
            from: state => state.from,
            settingsTranslate: state => state.settings.translate,
            words: state => state.words,
            yandexHost: state => state.yandexHost,
            yandexKey: state => state.yandexKey,
        }),
        methods: {
            addWord() {
                const formData = new FormData();
                formData.append('word', this.word);
                formData.append('language', this.from);
                this.$http.post('/api/add-word', formData)
                    .then(response => {
                        if (response.data.success) {
                            this.translate();
                        }
                    });
            },
            translate() {
                if (!this.word) {
                    return;
                }
                axios.post(this.yandexHost + '/translate?lang=' + this.settingsTranslate + '&key=' + this.yandexKey + '&text=' + this.word,
                    {},
                    {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    })
                    .then(response => {
                        this.translated = response.data.text.shift();
                        this.$store.commit('addWord', {word: this.word, translate: this.translated});
                    });
            },
        }
    }
</script>

<style scoped>

</style>