<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item" v-for="menu in menus" v-show="menu.isShow">
                        <a class="nav-link" :href="menu.link">{{menu.name}}</a>
                    </li>
                </ul>
            </div>
            <ul class="list-inline">
                <li v-for="item in loginLogout" v-show="item.isShow" class="list-inline-item">
                    <a class="text-xs-center" :href="item.link">{{item.name}}</a>
                </li>
                <li class="list-inline-item">
                    <logout class="text-xs-center"></logout>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    import Logout from './autentication/Logout.vue'

    export default {
        data() {
            return {
                menus: [
                    {
                        link: '/',
                        name: 'Home',
                        isShow: this.$auth.isAuthenticated()
                    }
                ],
                loginLogout: [
                    {
                        link: '/login',
                        name: 'Login',
                        isShow: !this.$auth.isAuthenticated()
                    },
                    {
                        link: '/register',
                        name: 'Register',
                        isShow: !this.$auth.isAuthenticated()
                    }
                ]
            }
        },
        created() {
            this.setAuthenticatedUser();
        },
        methods: {
            setAuthenticatedUser() {
                this.$http.get('api/user')
                    .then(response => {
                        this.$auth.setAuthenticatedUser(response.body);
                        console.log(this.$auth.getAuthenticatedUser());
                    })
            }
        },
        components: {
            'logout': Logout
        }
    }
</script>

<stile>

</stile>
