<template>
    <div class="card mb-3">
        <div class="card-header">Settings</div>
        <div class="card-body">
            <div class="form-group">
                <label>{{ countryFrom }} - {{ countryTo }}</label>
                <select class="form-control" v-model="settings.translate" v-on:change="setSettings">
                    <option v-for="option in translateList">
                        {{ option }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>

    import {mapState} from 'vuex'
    import axios from 'axios'

    const YANDEX_TRANSLATE_URL = 'https://translate.yandex.net/api/v1.5/tr.json/';

    export default {
        name: "SettingsComponent",
        data() {
            return {
                translateList: [],
                countries: [],
            }
        },
        methods: {
            setSettings() {
                this.$store.commit('setSettings', this.settings);
                let formData = new FormData();
                formData.append('settings', this.settings);
                this.$http.post('api/settings/save',
                    {
                        settings: this.settings
                    }
                ).then(response => {
                        if (!response.data.success) {
                            console.log(response.data);
                        }
                    }
                ).catch(response => {
                        this.isLoading = false;
                        console.log('FAILURE!!', response);
                    }
                );
            },
            getLanguagesList() {
                axios.post(
                    YANDEX_TRANSLATE_URL + 'getLangs?ui=en&key=trnsl.1.1.20190402T200159Z.3b0ba3b75b884b2f.5ec95202a9ee5b7f6e2d138baf40243fa4cc1a6e',
                    {},
                    {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    })
                    .then(response => {
                        this.translateList = response.data.dirs;
                        this.countries = response.data.langs;
                        this.$store.commit('setCountries', this.countries);
                    });
            },
            getSettings() {
                this.$http.post('api/settings').then(response => {
                        if (response.data.success && response.data.data) {
                            if (response.data.data.translate) {
                                this.$store.commit('setSettings', response.data.data);
                            }
                        } else {
                            console.log(response.data);
                        }
                    }
                ).catch(response => {
                        console.log('FAILURE!!', response);
                    }
                );
            },
        },
        created() {
            this.getSettings();
            this.getLanguagesList();
        },
        computed:
            mapState({
                settings: state => state.settings,
                from: state => state.from,
                to: state => state.to,
                countryFrom: state => state.countries[state.from],
                countryTo: state => state.countries[state.to],
            })
    }
</script>

<style scoped>

</style>