<template>
    <div class="card">
        <div class="card-header">Words list</div>
        <div class="m-3">
            <v-client-table :data="words" :columns="columns" :options="options"></v-client-table>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import {mapState} from 'vuex'
    import axios from 'axios'
    import {ClientTable, Event} from 'vue-tables-2';

    Vue.use(ClientTable);
    export default {
        name: "WordsListComponent",
        data() {
            return {
                columns: ['word', 'translate'],
                options: {
                    perPage: 25,
                },
            }
        },
        computed: mapState({
            countryFrom: state => state.countries[state.from],
            countryTo: state => state.countries[state.to],
            from: state => state.from,
            to: state => state.to,
            settingsTranslate: state => state.settings.translate,
            words: state => state.words,
            yandexHost: state => state.yandexHost,
            yandexKey: state => state.yandexKey,
        }),
        methods: {
            getWords() {
                this.$http.get('/api/words?language=' + this.from).then((response) => {
                    if (response.data) {
                        response.data.data.forEach(function (item) {
                            item.translate = '';
                        });
                        this.$store.commit('setWords', response.data.data);
                        this.translate();
                    }
                })
            },
            translate() {
                if (!this.words.length) {
                    return;
                }
                axios.post(this.yandexHost + '/translate?lang=' + this.settingsTranslate + '&key=' + this.yandexKey + this.getQueryParams(),
                    {},
                    {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    })
                    .then(response => {
                        this.words.forEach(function (item, index) {
                            item.translate = response.data.text[index];
                        })
                        this.$store.commit('setWords', this.words);
                    });
            },
            getQueryParams() {
                let query = '';
                this.words.forEach(item => {
                    query += '&text=' + item.word
                });
                return query;
            }
        },
        created() {
            this.getWords();
        },
        watch: {
            settingsTranslate: function () {
                this.getWords();
            }
        }
    }
</script>

<style scoped>

</style>