<template>
    <a href="#" @click="logout()" v-show="isShow">Logout</a>
</template>

<script>
    export default {
        data() {
            return {
                isShow: this.$auth.isAuthenticated()
            }
        },
        methods: {
            logout() {
                this.$auth.destroy();
                window.location.href = '/login';
            }
        }
    }
</script>

<stile>

</stile>
